In [124]:
import pandas as pd
import numpy as np

import openpyxl

In [125]:
filename = "Opening_cost.xlsx"
book = openpyxl.load_workbook(filename)
sheet = book.worksheets[0]

In [126]:
data = []

In [127]:
for row in sheet.rows :
    data.append([
        row[0].value,
        row[1].value,
        row[2].value,
        row[3].value,
        row[4].value,
        row[5].value,
        row[6].value
    ])

In [128]:
data

[['Brand_id',
  'Subscript_fee',
  'Education_fee',
  'Deposit_fee',
  'Extra_fee',
  'Cost_per_Area',
  'Standard_Area'],
 [1, 9900, 3300, 5000, 110270, 2090, 66],
 [2, 27500, 1650, 10000, 254500, 1822, 148.5],
 [3, 0, 3300, 2000, 51590, 1581, 26.4],
 [4, 0, 0, 0, 61226, 2000, 33],
 [5, 6050, 550, 5000, 72749, 1650, 49.5],
 [24, 5500, 3300, 3000, 41690, 1650, 26.4],
 [6, 5500, 3300, 5000, 52140, 2090, 26.4],
 [7, 3300, 770, 30000, 276686, 2073, 198],
 [8, 14300, 1650, 10000, 200200, 2200, 132],
 [9, 5500, 2200, 5000, 70510, 1767, 49.5],
 [10, 5500, 1650, 5000, 55400, 1870, 33],
 [11, 11000, 0, 10000, 169108, 2200, 99],
 [12, 5500, 3300, 5000, 59550, 1870, 33],
 [13, 3300, 3300, 2000, 58916, 2475, 26.4],
 [14, 5500, 3300, 0, 65660, 2090, 33],
 [15, 7700, 8800, 2000, 55000, 2200, 33],
 [16, 5500, 1100, 5000, 49300, 1650, 26.4],
 [17, 3300, 2200, 2000, 34900, 1438, 26.4],
 [18, 2200, 1100, 5000, 60720, 2750, 33],
 [19, 7700, 3300, 10000, 161800, 2825, 132],
 [20, 5500, 3300, 3000, 54800, 2200, 33],
 [27, 11000, 0, 5000, 161700, 2400, 108.9],
 [30, 16500, 0, 5000, 249500, 3080, 165],
 [23, 11000, 5500, 0, 72600, 2888, 26.4],
 [25, 11000, 5500, 0, 72330, 2888, 26.4],
 [29, 9350, 1650, 5000, 105500, 2300, 66],
 [26, 10890, 1100, 3000, 75960, 1870, 66],
 [28, 3300, 1650, 3000, 54560, 1870, 33],
 [21, 5500, 5500, 2000, 59213, 5921, 33],
 [22, 7700, 3300, 10000, 156051, 2983, 99]]

In [129]:
f = open('opening_cost.txt', 'w');
for line in data :
    qquery = "insert opening_cost('brand_id', 'subscript_fee', 'education_fee', 'deposit_fee', 'extra_fee', 'cost_per_area', 'standard_area') values("+str(line[0])+", "+str(line[1])+", "+str(line[2])+", "+str(line[3])+", "+str(line[4])+", "+str(line[5])+", "+str(line[6])+" ); "
    f.write(qquery);
    f.write("\n")
    
    
f.close()